@model IEnumerable<Diary.Sleep>

    <table class="table">
        <tr>
            <th>Bed Time</th>
            <th>Wake Up Time</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sleep_Time)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WakeUp_Time)<br />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
