@model IEnumerable<Diary.Outing>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Outing Date</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outing_Date)<br />
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
