@model IEnumerable<Diary.Food>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Food type</th>
            <th>Date Taken</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)<br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Taken)<br />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
